#Panta {


background-color: green;
color: white;
text-align: center;
}

#Iniciar{

    text-decoration: none;
}

#Registrarse{

    text-decoration: none;
}
#PantaRegistro {


    background-color: green;
    color: white;
    text-align: center;
    }

    #Cancelar{

        text-decoration: none;
    }
    #Registrar{

        text-decoration: none;
    }


    #PantaInicio{

        background-color: green;
        color: white;
        text-align: center;
        }
    #Tabla{

background-color: white;
color: black;
border: 1px;
border-color: black;

    }
   #Centro {

     text-align: center;
   }