<!DOCTYPE html>
<html lang="es" style="position: relative; min-height: 100%;" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title th:text="${titulo +' - Red CoaTIC'}">titulo</title>

</head>
<body>
</body>
</html>