<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Editar Libro
          </div>
          <form class="card-body" th:action="@{'/libros/editar/{id}' (id=${libro.id})}" th:object="${libro}" method="POST" th:method="PUT" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="titulo" class="form-label">Título del Libro</label>
              <input type="text" class="form-control" id="titulo" th:field="*{titulo}" th:errorClass="'is-invalid'">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
            </div>
            <div class="mb-3">
              <label for="autor" class="form-label">Autor</label>
              <input type="text" class="form-control" id="autor" th:field="*{autor}" th:errorClass="'is-invalid'">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"></div>
            </div>
            <div class="mb-3">
              <label for="cantidad" class="form-label">Cantidad Disponible</label>
              <input type="number" class="form-control" id="cantidad" th:field="*{cantidad}" th:errorClass="'is-invalid'" min="1" value="1">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></div>
            </div>
            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen del Libro</label>
              <input class="form-control" type="file" id="imagen" name="imagen" accept="image/*" required>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary mx-2">Editar</button>
              <a href="/libros" class="btn btn-secondary mx-2">Volver</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <script th:fragment="script">
    $(document).ready(function() {
      $('.select2').select2({
        placeholder: 'Seleccione una opción',
        allowClear: true,
        width: '100%',
      });
    });
  </script>